.math {
  position: relative;
  max-width: 100%;
}

.mathError {
  color: #dc2626;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.popoverPreview {
  color: #000;
  font-size: 1.6em;
}

.blockEditor {
  --math-block-padding: 0.5rem;
  --math-block-line-height: 1.25rem;
}

.blockAdornment {
  font-size: 0.875rem;
  line-height: var(--math-block-line-height);
}

.blockAdornmentStart {
  align-self: flex-start;
  margin-top: var(--math-block-padding);
}

.blockAdornmentEnd {
  align-self: flex-end;
  margin-bottom: var(--math-block-padding);
}
