.memorilo-editor .ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}


.memorilo-editor .ProseMirror:is(
  [data-outline-root='listItem'],
  [data-outline-root='orderedItem'],
  [data-outline-root='taskItem']
)[data-outline-hide-title='false'] {
  position: relative;
}

.memorilo-editor .ProseMirror .outline-root-gutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
}

.memorilo-editor .ProseMirror:is(
  [data-outline-root='listItem'],
  [data-outline-root='orderedItem'],
  [data-outline-root='taskItem']
)[data-outline-hide-title='false'] > :not(.outline-list):not(.outline-root-gutter) {
  padding-left: 2rem;
}

.memorilo-editor .ProseMirror:is(
  [data-outline-root='listItem'],
  [data-outline-root='orderedItem'],
  [data-outline-root='taskItem']
)[data-outline-hide-title='false'] > .outline-list {
  padding-left: 2rem;
}

.memorilo-editor .ProseMirror-gapcursor::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid currentColor;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

.memorilo-editor .ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
